.card-in{
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    margin: 2em;
}
.small:hover{
    transform: scale(1.05);
    transition: 1s;
}

.small{
    width: 250px;
    height: 200px;
}

.larg{
    width: 350px;
    height: 200px;
}

span{
    position: absolute;
    text-align: center;
    color: white;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,0%);
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

img{
    position: absolute;
    border-radius: 2em;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}